%section.main_page
  .row
    .col-xs-10.col-xs-offset-1
      .row
        .col-xs-7.col-sm-8
          %h1.title Optimize Lineup
      %hr
  .row
    .col-xs-5.col-xs-offset-1
      .row
        .col-xs-12
          .card.card-inverse.card-success
            .row
              .col-xs-1
                .card-block
                  %i.fa.fa-envelope.fa-2x
              .col-xs-7
                .card-block
                  %p 2 days ago
              .col-xs-3.pull-right
                .card-block
                  %button.btn.btn-primary.btn-block.btn-sm Contact
            .row
              .col-xs-12
                .card-block
                  %p We talked about blah, blah, and blah. She seemed very blah and brought up blah. Words words words. I can see why they use latin for this stuff.
      .row
        .col-xs-12
          .card.card-inverse.card-success
            .row
              .col-xs-1
                .card-block
                  %i.fa.fa-envelope.fa-2x
              .col-xs-7
                .card-block
                  %p 2 days ago
              .col-xs-3.pull-right
                .card-block
                  %button.btn.btn-primary.btn-block.btn-sm Contact
            .row
              .col-xs-12
                .card-block
                  %p We talked about blah, blah, and blah. She seemed very blah and brought up blah. Words words words. I can see why they use latin for this stuff.

