section.main_page
  .align-bottom
    position: absolute
    bottom: -1em
    right: 0
  .top-row
    position: relative
    margin-bottom: 3em
  .form-group.row
    margin-left: 0.25em
  .btn-row
    margin-top: 2em
  .card-block
    padding-bottom: 0
