.container
  .row
    .col-lg-12
      = link_to "Data Powered by FantasyFootballNerd.com", "http://www.fantasyfootballnerd.com"
  .row
    .col-lg-12
      %p.copyright.text-muted.small Copyright © Dfs-Optimal 2015. All Rights Reserved

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-69835918-1', 'auto');
  ga('send', 'pageview');
  </script>
