.container
  .row
    .col-lg-12
      = link_to "Data Powered by FantasyFootballNerd.com", "http://www.fantasyfootballnerd.com"
  .row
    .col-lg-12
      %p.copyright.text-muted.small Copyright © Dfs-Optimal 2015. All Rights Reserved
