.container-fluid.header
  .row.top-row
    %nav.navbar.navbar-dark.bg-inverse
      .col-md-5.col-md-offset-1
        %a.navbar-brand.green-top-border(href="/") DFS Optimal
      .col-md-5
        %ul.nav.navbar-nav
          %li.nav-item.active.pull-right
